<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/product">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>