<div class="container p-5">
  <h2>Create Category</h2>

  <form [formGroup]="productForm" (ngSubmit)="submitForm()" class="needs-validation">

    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div class="invalid-feedback"
        *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched">
        Name is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" id="price" class="form-control" formControlName="price">
      <div class="invalid-feedback"
        *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched">
        Price is required.
      </div>
    </div>
    <div class="mb-3">

      <label for="parent_id">Categories</label>
      <ng-select [items]="parentCategories" bindLabel="name" bindValue="id" placeholder="Select a parent category"
        formControlName="parent_id" [multiple]="true" formControlName="categoryIds">
      </ng-select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>